<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Project16.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>075BD0D11AF6A8F300E9DAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075BD0E61AF6A8F300E9DAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>075BD0FA1AF6A9D200E9DAD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07DE820C1AFAE45F001CE8EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
